@import "./settings/_fonts";
@import "reset.css";
@import "./settings/_colors";


.contact {
  display: flex;
  height: 1026px;
    .photo {
      width: 1230px;
      opacity: .2;
      background-image: url(../assets/Background-Contact-Form.jpg);
    }
  &_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      position: relative;
    h2 {
      font-size: 24px;

    }
      &_info {
        display: flex;
      }

  }
}